<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.crg">
<head>
    <meta charset="UTF-8">
    <title>Все куклы</title>
</head>
<body>
<h1>Коллекция кукол Алины</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="doll:${dolls}">
        <td data-th-text="${doll.dollId}"></td>
    </tr>
    <tr data-th-each="doll:${dolls}">
        <td data-th-text="${doll.dollName}"></td>
    </tr>
    </tbody>
</table>
<br>
</body>
</html>